
# lvh.me automatically maps all subdomains to localhost

VITE_CENTRAL_API_URL=http://localhost:8000
VITE_TENANT_BASE_URL=http://{tenant}.lvh.me:8000/api/v1
VITE_TENANT_DOMAIN_SUFFIX=.lvh.me:8000
VITE_PORT=5173
VITE_API_PORT=8000
VITE_CENTRAL_BLADE_URL=
VITE_TENANT_AUTH_BASE_PATH=
VITE_CENTRAL_AUTH_BASE_PATH=