@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Background / Areas */
		--color-bg-base: 255 255 255;	     /* White */
		--color-bg-base-dark: 245 245 245;	 /* Off-white for slight contrast */
		--color-surface: 255 255 255;        /* White */
		--color-surface-muted: 240 240 240;  /* Very Light Gray (for input backgrounds) */
		--color-surface-inverse: 0 0 0;      /* Black */
		
		/* Texts */
		--color-text-main: 0 0 0;		     /* Black */
		--color-text-muted: 53 56 57; 	     /* Gunmetal used as legible muted text */
		--color-text-inverse: 255 255 255;	 /* White */

		/* Edges */
		--color-border-default: 190 191 197; /* Pale Slate */

		/* Theme Colors */
		--color-primary: 38 97 156; 		 /* Baltic blue */
		--color-primary-hover: 28 80 130;    /* Dark Baltic Blue */

		/* Status colors */
		--color-danger: 153 51 51; 			 /* Red (#993333) */
		--color-success: 51 153 51; 		 /* Green (#339933) */
		--color-warning: 204 153 51; 		 /* Yellow (#CC9933) */
		--color-info: 38 97 156;			 /* Baltic blue */

		/* Tipography*/
		--font-main: 'Switzer', system-ui, sans-serif;
	}


	  /* Dark Mode Variables */
	.dark {
		--color-bg-base: 0 0 0;             /* Black for full dark background */
		--color-bg-base-dark: 53 56 57;     /* Gunmetal for alternate backgrounds */
		--color-surface: 53 56 57;          /* Gunmetal for Cards and Navbars */
		--color-surface-muted: 0 0 0;       /* Black for nested inner inputs */
		--color-surface-inverse: 255 255 255; /* White */
		
		--color-text-main: 255 255 255;     /* White text */
		--color-text-muted: 190 191 197;    /* Pale Slate for muted text */
		--color-text-inverse: 0 0 0;        /* Black */
		
		--color-border-default: 0 0 0;      /* Black borders on Gunmetal surfaces */
	}


	body{
		background-color: rgb(var(--color-bg-base));
		color: rgb(var(--color-text-main));
		font-family: var(--font-main);
	}

	h1,h2,h3,h4,h5,h6 {
		@apply font-bold tracking-tight text-[rgb(var(--color-text-main))];
	}

	p {
		@apply text-[rgb(var(--color-text-main))] leading-relaxed;

	}

	a {
		@apply text-[rgb(var(--color-primary))] transition-colors hover:text-[rgb(var(--color-primary-hover))];
	}
	input, textarea, select {
		color: rgb(var(--color-text-main))
	}
}




.hide-userway-widget #userwayAccessibilityIcon,
.hide-userway-widget #userway-widget,
.hide-userway-widget .uwy,
.hide-userway-widget [data-userway],
.hide-userway-widget [class*='userway'] {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
	pointer-events: none !important;
}
